.cgdb/readline_history.txt
.tmux/resurrect/*
.tmux/resurrect/last
.vim/bundle/
.vifm/vifminfo
.ps_colors
tmux-session-spectrum.conf
.cgdb/logs
.vifm/vifminfo.json
bin/ffstream.sh
bin/isma-ssh
bin/sogs-ssh
bin/voltcraft.sh
bin/vpn-gp.sh
bin/walter-ssh
